{
  "DetailedErrors": true,
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=sistema_freelancer;Username=postgres;Password=password"
  },
  "ImageSettings": {
    "BaseUrl": "http://localhost:5191"
  },
  "Jwt": {
    "Key": "super-secret-key-123456-super-secret-key-123456", #  HS256 requer no mínimo 32 bytes (256 bits)
    "Issuer": "MyApi",
    "Audience": "MyApi"
  }
}