{
  "DetailedErrors": true,
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=sistema_freelancer;Username=postgres;Password=password"
  },
  "ImageSettings": {
    "BaseUrl": "http://localhost:5191"
  },
  "Jwt": {
    "Key": "super-secret-key-123456-super-secret-key-123456",
    "Issuer": "MyApi",
    "Audience": "MyApi"
  },
  "GoogleDriveSettings": {
    "ServiceAccountEmail": "seu-email@projeto.iam.gserviceaccount.com",
    "PrivateKey": "-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_AQUI\n-----END PRIVATE KEY-----\n",
    "FolderId": "ID_DA_PASTA_NO_DRIVE"
  },
  "GithubSettings": {
    "Token": "seu_token_aqui",
    "Owner": "seu_usuario_github",
    "Repository": "nome_do_repositorio",
    "Branch": "main"
  }
}