{
  "DetailedErrors": true,
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=sistema_freelancer;Username=postgres;Password=password"
  },
  "ImageSettings": {
    "BaseUrl": "http://localhost:5191"
  }
}